/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


 body{
  background: #000;
  
  #container{
    width: 900px;
    margin: 0px auto;
    background-color: gray;
  }
  
  header {
    width: 900px;
    margin: 0px auto;
    h1{
      background-color: blue;
    }

     
    
  }
nav {
      margin-top:-20px;
    background-color: red;
    text-align: center;
    border-style:solid;
      border-width:5px;
    ul {
      display: inline;
      list-style: none;
        li {
          color:#000;
          text-decoration: none;
          font-weight: bold;
          font-size:1.2em;
          display: inline;
        }
    }
  }
 
 footer{
  width:900px;
  margin: 0px auto;
 }
  


  /*#navigation > nav > ul > li > a:hover,nav > ul > li > a:focus{
    color:#3366FF;
    text-decoration: none;
  }*/
 }
