// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.prod_img{
  width: 150px;
  height: 125px;
  border: red solid 1px;
}