%h1 Listing categories
%table
  %thead
    %tr
      %th Name
      %th Description
      %th
      %th
      %th
  %tbody
    - @categories.each do |category|
      %tr
        %td= category.name
        %td= category.description
%br/